<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/gallery2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALISSA_BADILO</title>
</head>

<body>
    <main>
        <div class="hero">
            <div class="hero-color">

                <nav>

                    <div class="logo">
                        <img src="" alt="">
                    </div>
                    <ul class="ul-1">
                        <a href="/ ">
                            <li >Home</li>
                        </a>
                        <a href="/gallery">
                            <li class="active">Gallery</li>
                        </a>
                        <a href="/about">
                            <li>About</li>
                        </a>
                        <a href="/contact">
                            <li>Contact</li>
                        </a>
                       

                    </ul>
                    <ul class="ul-2">
                        <li><i class="fa-solid fa-bars menu"></i><i class="fa-solid fa-xmark cross hide"></i></li>
                    </ul>
                </nav>
                <div class="nav">
                    <a href="/">
                        <div class="li li-home">Home</div>
                    </a>
                    <a href="/gallery">
                        <div class="li li-about">gallery</div>
                    </a>
                    <a href="/about">
                        <div class="li li-faculty">About</div>
                    </a>
                    <a href="/contact">
                        <div class="li li-contact">Contact</div>
                    </a>
                </div>
                <div class="content">

                    <h1>FLOWER'S GALLERY</h1>
                </div>
            </div>
        </div>

        <section>
            <div class="img-1">
                <img src="../img/img-1.jpg" alt="">
                <div class="text">
                    <h5>Alissa Badilo</h5>
                    <p>Dutch Tulip</p>
                </div>
            </div>
            <div class="img-2">
                <img src="../img/about-3.jpg" alt="">
                <div class="text">
                    <h5>Alissa Badilo</h5>
                    <p>Dahilas</p>
                </div>

            </div>
            <div class="img-3">
                <img src="../img/about-2.jpg" alt="">
                <div class="text">
                    <h5>Alissa Badilo</h5>
                    <p>Ethereal Rose</p>
                </div>
            </div>
            <div class="img-4">
                <img src="../img/img-4.jpg" alt="">
                <div class="text">
                    <h5>Alissa Badilo</h5>
                    <p>Orange Rose</p>
                </div>
            </div>
            <div class="img-5">
                <img src="../img/img-5.jpg" alt="">
                <div class="text">
                    <h5>Alissa Badilo</h5>
                    <p>Red Rose</p>
                </div>
            </div>
            <div class="img-6"></div>
        </section>
        <footer>
            <p> Copyright © 2024 ALISSA_BADILO</p>
            
            <div class="icons">
                <!-- <a href="#"><i class="fa-brands fa-facebook"></i></a> -->
                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <!-- <a href="#"><i class="fa-brands fa-linkedin"></i></a> -->
            </div>
            <!-- <a href="#top"><i class="fa fa-arrow-up"></i></a> -->
        </footer>

    </main>


    <script src="/script/home.js"></script>
    <script src="/script/gallery.js"></script>
</body>

</html>